.card{
    border: 3px solid rgba(245, 236, 243, 0.801);
    width: 22%;
    background-color: rgba(15, 165, 15, 0.347);
    padding: 2px;
    border-radius: 8px;
    margin: 8px;
}

img{
    width: 100%;
}

.txt{
    text-align: center;
    color: rgb(255, 255, 255);
}
.link{
    text-decoration: none;
    color: aliceblue;
}
