.cont{
    background-color: rgba(94, 97, 94, 0.381);
    text-align: center;
    font-size: x-large; 
    width: 30%;
    height: 50%;   
    margin-left: 450px;
}
.username{
    color: white;
}

.pass{
    color: aliceblue;
}
.alerta{
    color: white;
}